# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data
data/*.csv
data/*.parquet

# Environment
.env
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/
*.iml

# Streamlit cache
.streamlit/

# MacOS
.DS_Store